/* Importieren Sie Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo container */
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: end;*/
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative; /* Stellen Sie sicher, dass die Position relativ ist, um das Absolute innerhalb davon zu positionieren */
}

/* Logo */
.logo {
  background-color: white;
  width: 200px; /* Ändern Sie die Breite des Logos nach Bedarf */
  height: auto; /* Automatische Höhe, um das Seitenverhältnis beizubehalten */
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

/* Circle */
.circle {
  position: relative;
  display: inline-block;
}

/* Logo Text */
.logo-text {
  position: absolute;
  bottom: -35px; /* Platzieren Sie den Text 20px unterhalb des Logos */
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px; /* Größe des Textes */
  color: #3b5998; /* Textfarbe im Dunkelblau-Pastell */
  font-family: 'Roboto', sans-serif; /* Schriftart */
  text-align: center; /* Zentriert den Text */
  width: 150px; /* Breite des Textes */
  line-height: 1.2; /* Zeilenhöhe */
  margin-bottom: 70px; /* Abstand nach unten hinzufügen */
}


/* Small Logo */
.small-logo {
  width: 50px; /* Ändern Sie die Breite des kleinen Logos nach Bedarf */
  height: auto; /* Automatische Höhe, um das Seitenverhältnis beizubehalten */
}

.toggle-calendar-button {
  color: #34495e;
  margin: 20px;
  padding: min(25px, 4vw);
  border-radius: 50px; /* Rounder corners */
  font-size: 20px;
  font-weight: 600;

  background: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: 0 min(8px, 0.8vw) min(32px, 3.2vw) 0 rgba(31, 38, 135, 0.37);
  cursor: pointer;

  /*For the icon to be centered*/
  display: flex;
  align-items: center;

  svg {
    position: relative;
    margin-right: 8px;
    height: 25px;
    bottom: 1px
  }
}

.toggle-calendar-button:hover {
    box-shadow: 0 min(8px, 0.8vw) min(32px, 3.2vw) 0 rgba(31, 38, 135, 0.6);
}


/* Events container */
.events-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Die Knöpfe werden untereinander angereiht */
  justify-content: center; /* Die Knöpfe werden mittig angereiht */
}

/* Event */
.event-button {
  width: min(14cm, 95vw); /* Width set to 14 cm or nearly the full screen width */
  margin: 10px auto;
  border-radius: 50px; /* Much rounder corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: 'Roboto', sans-serif; /* Schriftart */
  border: none; /* Kein Rahmen */
  text-align: center; /* Zentriert den Text */
}

.event-future {
  background: linear-gradient(to right, hsl(226, 88%, 60%), hsl(192, 88%, 60%), hsl(188, 88%, 60%)); /* Bläuliche Pastellfarben */
}

.event-past {
  background: linear-gradient(to right, #66bb6a, #81c784, #a3e5ae); /* Grünlicher Hintergrund */
  font-size: 0.55em;
  width: min(10cm, 70vw);
}

.event-button[disabled] {
  opacity: 0.6; /* Deaktivierte Knöpfe sind durchsichtig (ausgegraut), damit erkannt wird, dass sie deaktiviert sind. */
}


/* Event Hover-Effekt */
.event-button:not([disabled]):hover, .calendar-event-clickable:hover {
  /* Hier können Sie die gewünschte Aktion für den Hover-Effekt definieren */
  cursor: pointer; /* Zeiger bei Hover */
  transform: scale(1.1); /* Beispiel: Button wird beim Hover vergrößert */
}

/* Event Name */
.event-name {
  font-size: 1.8em; /* Größe des Eventnamens */
  color: #34495e; /* Dunkelblau-Pastellfarbe */
  text-decoration: none; /* Entfernt die Unterstreichung, die normalerweise für Links verwendet wird */
}

.event-date {
  font-size: 1.3em; /* Größe des Eventnamens */
  font-style: italic;
  color: #f0f0f0; /* Textfarbe des Datums */
}


.calendar-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;


  .calendar-navigation {
    flex: 1;
    padding: min(10px, 1.0vw);
    max-width: min(200px, 15vw);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    text-align: center;
    border-radius: min(10px, 1.0vw); /* Rounder corners */
    box-shadow: 0 min(8px, 0.8vw) min(32px, 3.2vw) 0 rgba(31, 38, 135, 0.37);
    cursor: pointer;

    svg {
      padding: 0;
      height: min(40px, 3vw);
      width: min(40px, 3vw);
    }
  }

  .calendar-navigation:hover {
    box-shadow: 0 min(8px, 0.8vw) min(32px, 3.2vw) 0 rgba(31, 38, 135, 0.6);
  }

  h1 {
    font-size: min(55px, 4.5vw);
    flex: 2;
    font-weight: 800;
    font-family: 'Brush Script MT', cursive;
    padding-left: 10px;
    padding-right: 10px;
  }

}


.calendar {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Gill Sans Extrabold", sans-serif;
  margin-bottom: min(100px, 10vw);

  ul {
    margin-top: min(20px, 2vh);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;

    li {
      display: flex;
      width: min(10rem, 12vw);
      flex-flow: column;
      padding: min(1.5rem, 1.5vw);
      margin: min(0.25rem, 0.3vw);
      font-weight: 300;
      box-sizing: border-box;
      border-radius: min(30px, 3vw);

      /*backdrop-filter: blur(min(4px, 0.4vw));*/
      /*-webkit-backdrop-filter: blur(min(4px, 0.4vw));*/
      /*border: min(1px, 0.1vw) solid rgba(255, 255, 255, 0.18);*/
    }

    .weekday {
      font-size: min(2.1rem, 2.1vw);
      padding: min(1.2rem, 1.2vw) min(0.9rem, 0.9vw);
      text-align: center;
      background: #377173;
      color: white;
      font-family: 'Brush Script MT', cursive;
    }


    .calendar-day {
      background: rgba(255, 255, 255, 0.4);
      height: min(10rem, 12vw);
      font-size: min(0.8rem, 1.3vw);
      line-height: min(23px, 1.8vw);
      overflow: hidden;


      time {
        font-size: min(2rem, 1.9vw);
        margin: 0 0 min(0.7rem, 0.7vw) 0;
        font-weight: 500;
      }
    }

    @media (max-aspect-ratio: 0.8) {
      .calendar-day {
        height: min(10rem, 20vw);
      }
    }

    .calendar-event {
      background: rgba(151, 194, 96, 0.8);
    }

    .today {
      time {
        font-weight: 800;
      }

      background: #ffffff99;
    }

    .calendar-event.today {
      background: rgba(151, 194, 96, 1);
    }

    .another-month {
      opacity: 0.5;
    }
  }
}
