<!-- events.component.html -->

<div class="main-container">
  <div class="logo-container">
    <div class="circle">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <p class="logo-text">International Club</p>
    </div>
    <img src="assets/small-logo.png" alt="Small Logo" class="small-logo">
  </div>
  <div class="events-container">
    <div class="event" *ngFor="let eventName of eventNames; let i = index">
      <div [innerHTML]="eventName" (click)="openEventLink(eventLinks[i])" class="event-name"></div>
      <p class="event-date">{{ eventDates[i] }}</p> <!-- Datum für jedes Event -->
    </div>
  </div>
</div>
