/* Importieren Sie Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo container */
.logo-container {
  margin-bottom: 20px;
  position: relative; /* Stellen Sie sicher, dass die Position relativ ist, um das Absolute innerhalb davon zu positionieren */
}

/* Logo */
.logo {
  width: 200px; /* Ändern Sie die Breite des Logos nach Bedarf */
  height: auto; /* Automatische Höhe, um das Seitenverhältnis beizubehalten */
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Circle */
.circle {
  position: relative;
  display: inline-block;
}

/* Logo Text */
.logo-text {
  position: absolute;
  bottom: -35px; /* Platzieren Sie den Text 20px unterhalb des Logos */
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px; /* Größe des Textes */
  color: #3b5998; /* Textfarbe im Dunkelblau-Pastell */
  font-family: 'Roboto', sans-serif; /* Schriftart */
  text-align: center; /* Zentriert den Text */
  width: 150px; /* Breite des Textes */
  line-height: 1.2; /* Zeilenhöhe */
  margin-bottom: 70px; /* Abstand nach unten hinzufügen */
}





/* Small Logo */
.small-logo {
  width: 50px; /* Ändern Sie die Breite des kleinen Logos nach Bedarf */
  height: auto; /* Automatische Höhe, um das Seitenverhältnis beizubehalten */
}

/* Events container */
.events-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Die Knöpfe werden untereinander angereiht */
  justify-content: center; /* Die Knöpfe werden mittig angereiht */
}

/* Event */
.event-button {
  width: min(14cm, 95vw); /* Width set to 14 cm or nearly the full screen width */
  margin: 10px auto;
  border-radius: 50px; /* Much rounder corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: background-color 0.3s ease; /* Animation beim Hover */
  font-family: 'Roboto', sans-serif; /* Schriftart */
  border: none; /* Kein Rahmen */
  text-align: center; /* Zentriert den Text */
}

.event-future {
  background: linear-gradient(to right, #98acf8, #8bd4f8, #9be4f8); /* Bläuliche Pastellfarben */
}

.event-past {
  background: linear-gradient(to right, #66bb6a, #81c784, #a3e5ae); /* Grünlicher Hintergrund */
  font-size: 0.55em;
  width: min(10cm, 70vw);
}

.event-button[disabled] {
  opacity: 0.6; /* Deaktivierte Knöpfe sind durchsichtig (ausgegraut), damit erkannt wird, dass sie deaktiviert sind. */
}

/* Event Hover-Effekt */
.event-button:not([disabled]):hover {
  /* Hier können Sie die gewünschte Aktion für den Hover-Effekt definieren */
  cursor: pointer; /* Zeiger bei Hover */
  transform: scale(1.1); /* Beispiel: Button wird beim Hover vergrößert */
}

/* Event Name */
.event-name {
  font-size: 1.8em; /* Größe des Eventnamens */
  color: #3b5998; /* Dunkelblau-Pastellfarbe */
  text-decoration: none; /* Entfernt die Unterstreichung, die normalerweise für Links verwendet wird */
}

.event-date {
  font-size: 1.3em; /* Größe des Eventnamens */
  color: #ffffff; /* Textfarbe des Datums */
}
