/* events.component.scss */

/* Importieren Sie Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Logo container */
.logo-container {
  padding: 20px;
}

/* Logo */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Events container */
.events-container {
  margin-top: 20px;
}

/* Event */
.event {
  width: 10cm; /* Width set to 10 cm */
  margin-bottom: 10px;
  border-radius: 50px; /* Much rounder corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer; /* Zeiger bei Hover */
  transition: background-color 0.3s ease; /* Animation beim Hover */
  font-family: 'Roboto', sans-serif; /* Schriftart */
  color: #ffffff; /* Textfarbe */
  border: none; /* Kein Rahmen */
  background: linear-gradient(to right, #98acf8, #8bd4f8, #9be4f8); /* Bläuliche Pastellfarben */
  text-align: center; /* Zentriert den Text */
}

/* Event Hover-Effekt */
.event:hover {
  /* Hier können Sie die gewünschte Aktion für den Hover-Effekt definieren */
  transform: scale(1.1); /* Beispiel: Button wird beim Hover vergrößert */
}

/* Event Name */
.event-name {
  font-size: 1.5em; /* Größe des Eventnamens */
  color: #3b5998; /* Dunkelblau-Pastellfarbe */
  text-decoration: none; /* Entfernt die Unterstreichung, die normalerweise für Links verwendet wird */
  cursor: default; /* Setzt den Cursor auf den Standard, um anzuzeigen, dass es sich nicht um einen Link handelt */
}
